<form (ngSubmit)="doSubmit()" #form="ngForm" class="card-form">
  <div *ngIf="message" class="layout is-flex has-islands" style="padding: 0">
    <div [class.circle-left]="isDavis" [class.circle-right]="!isDavis">
      {{ (isDavis) ? null : iDavis.values.user.name.first[0].toUpperCase() + iDavis.values.user.name.last[0].toUpperCase() }}
      <svg *ngIf="isDavis" class="icon icon--white icon--davis">
        <use xlink:href="#davis"></use>
      </svg>
    </div>
    <div [class.triangle-left]="isDavis" [class.triangle-right]="!isDavis"></div>
    <div class="island" [class.island--isDavis]="isDavis" [class.island--isUser]="!isDavis" style="padding: 16px; margin: 0">
      {{ message }}
    </div>
  </div>
</form>