<form (ngSubmit)="doSubmit()" #form="ngForm" class="card-form">
  <div *ngIf="message" class="layout is-flex has-islands" style="padding: 0">
    <div [class.circle-left]="isDavis" [class.circle-right]="!isDavis">
      {{ (isDavis) ? null : iDavis.values.user.name.first[0].toUpperCase() + iDavis.values.user.name.last[0].toUpperCase() }}
      <svg *ngIf="isDavis" class="icon icon--white icon--davis">
        <use xlink:href="#davis"></use>
      </svg>
    </div>
    <div [class.triangle-left-border]="isDavis" [class.triangle-right-border]="!isDavis"></div>
    <div [class.triangle-left]="isDavis" [class.triangle-right]="!isDavis"></div>
    <div class="island" [class.island--isDavis]="isDavis" [class.island--isUser]="!isDavis" style="padding: 17.5px 16px; margin: 0; border: 0.5px solid #ececec; z-index: 99">
      <div *ngIf="message.visual.card && message.visual.card.text" style="font-size: 14px">
        {{ message.visual.card.text }}
      </div>
      <div *ngIf="message.visual.card && message.visual.card.attachments && message.visual.card.attachments.length > 0" class="card-attachments">
        <div *ngFor="let attachment of message.visual.card.attachments" class="card-attachment">
          <div *ngIf="attachment.title || attachment.pretext || attachment.text || attachment.fields 
            || attachment.actions || attachment.actionClicked" class="card-bar" [style.border-color]="attachment.color"></div>
          <div class="card-content">
             <div class="card-pretext" [innerHTML]="attachment.pretext | slackTagConversionPipe:true"></div>
             <a *ngIf="attachment.title_link" class="card-title" [innerHTML]="attachment.title | slackTagConversionPipe:true" (click)="iDavis.windowOpen(attachment.title_link)"></a>
             <div *ngIf="!attachment.title_link" class="card-title" style="color: #6d6d6d; cursor: default" [innerHTML]="attachment.title | slackTagConversionPipe:true"></div>
             <div class="card-text" [innerHTML]="attachment.text | slackTagConversionPipe:true"></div>
             <div class="card-fields">
                <div *ngFor="let field of attachment.fields; let i = index" class="card-field" [class.card-field-wrap]="i % 2 == 0">
                  <div class="card-field-title" [innerHTML]="field.title | slackTagConversionPipe:true"></div>
                  <div class="card-field-value" [innerHTML]="field.value | slackTagConversionPipe:true"></div>
                </div>
             </div>
             <div *ngIf="attachment.actions || attachment.actionClicked" class="card-actions">
                <button *ngFor="let action of attachment.actions" type="button" class="btn btn--secondary btn--submit card-action" 
                  (click)="addToConvo(attachment.callback_id, action.name, action.value); attachment.actionClicked = action.text; attachment.actions = null">
                  {{ action.text }}
                </button>
                <button *ngIf="attachment.actionClicked" type="button" class="btn btn--secondary btn--submit card-action" disabled>
                  {{ attachment.actionClicked }}
                </button>
             </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<div class="card-timestamp" [class.card-timestamp-davis]="isDavis" [class.card-timestamp-user]="!isDavis">
  {{ message.timestamp }}
</div>