<form (ngSubmit)="doSubmit()" #form="ngForm">
<div style="position:absolute;height:0px; overflow:hidden; ">
  Username <input type="text" name="fake_safari_username" tabindex="-1">
  Password <input type="password" name="fake_safari_password" tabindex="-1">
</div>
<div class="layout is-flex has-islands" [class.fadeInSlow]="iConfig.isWizard" [class.slideInRight]="iConfig.isWizard">
  <div class="island--full-width" 
    [class.wizard-border]="iConfig.isWizard"
    [class.island--full-width-sidebar]="!iConfig.isWizard">
    <div class="config-title">
      Connect to Dynatrace
    </div>
    <div *ngIf="iConfig.isWizard" class="wizard-step-number">
      Step 1 of 4
    </div>
    <a href="https://github.com/Dynatrace/davis-server/wiki/Setup%20Dynatrace" target="_blank" class="config-help">
      {{ iConfig.helpLinkText }}
    </a>
  </div>
  <div *ngIf="iConfig.status['dynatrace-connect'].success === false" class="island--full-width island--error island--error-container" 
    [class.wizard-border]="iConfig.isWizard"
    [class.island--full-width-sidebar]="!iConfig.isWizard">
    <div class="island--error-text">
      {{ iConfig.status['dynatrace-connect'].error }}&nbsp;&nbsp;&nbsp;
      <a *ngIf="iConfig.status['dynatrace-connect'].error.indexOf('SSL') > -1" 
        href="https://github.com/Dynatrace/davis-server/wiki/Getting%20Started#ssl-configuration" target="_blank">
        SSL Configuration Help
      </a>
    </div>
    <div class="island--error-button">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" 
        class="icon icon--black icon--error-button" 
        (click)="iConfig.status['dynatrace-connect'].success = null;">
        <use xlink:href="#clear"></use>
      </svg>
    </div>
  </div>
  <div class="island--full-width" 
    [class.wizard-border]="iConfig.isWizard" 
    [class.island--full-width-sidebar]="!iConfig.isWizard">
    <div class="island island--center" [class.island--left]="!iConfig.isWizard">
      <label for="url" class="label">
        Dynatrace Tenant URL
      </label>
      <input #url type="text" name="url" autocomplete="off"
        class="inputfield" id="url"
        [(ngModel)]="iConfig.values.dynatrace.url" 
        (keyup)="validate()" required>
    </div>
    <div class="island island--center" [class.island--left]="!iConfig.isWizard">
      <label class="label">
        Dynatrace API Token
      </label>
      <div class="input-button-wrapper" [class.input-button-wrapper-focus]="isTokenFocused">
          <input *ngIf="isTokenMasked" id="token" type="password" name="token" class="input-button-input" autocomplete="off"
              [(ngModel)]="iConfig.values.dynatrace.token" 
              (focus)="isTokenFocused = true" (blur)="isTokenFocused = false" (keyup)="validate()" required>
          <input *ngIf="!isTokenMasked" id="token" type="text" name="token" class="input-button-input" autocomplete="off"
              [(ngModel)]="iConfig.values.dynatrace.token" 
              (focus)="isTokenFocused = true" (blur)="isTokenFocused = false" (keyup)="validate()" required>
          <div class="input-button-button" (click)="isTokenMasked = !isTokenMasked">
            <svg class="icon icon--black icon--input-button-img" [class.input-button-img-password-masked]="isTokenMasked">
              <use xlink:href="#eye"></use>
            </svg>
          </div>
      </div>
    </div>
    <div class="island island--center" [class.island--left]="!iConfig.isWizard">
      <div class="expandable" [class.is-expanded]="isAdvancedExpanded">
        <a (click)="isAdvancedExpanded = !isAdvancedExpanded" class="expandable__trigger" style="margin-left: -14px">Advanced</a>
        <div class="expandable__content">
          <div class="layout is-flex has-islands" style="padding: 0">
            <div class="island island--center" [class.island--left]="!iConfig.isWizard">
              <label for="apiUrl" class="label">
                Dynatrace API URL
              </label>
              <input type="text" name="apiUrl" autocomplete="off"
                class="inputfield" id="apiUrl"
                [(ngModel)]="iConfig.values.dynatrace.apiUrl" 
                (keyup)="validate()">
            </div>
            <div class="island island--center" [class.island--left]="!iConfig.isWizard">
              <input type="checkbox" class="checkbox" id="strictSSL" name="strictSSL" autocomplete="off"
                [(ngModel)]="iConfig.values.dynatrace.strictSSL"
                (change)="validate()">
              <label for="strictSSL" class="checkbox__label">
                <span class="checkbox__caption">Strict SSL</span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="island island--center island--submit" [class.island--left]="!iConfig.isWizard">
      <button type="submit" role="button" class="btn btn--primary btn--submit"
          [attr.disabled]="(!form.valid || submitButton === 'Saving...' || !isDirty || !isSSL) ? true : null">
          {{ submitButton }}
      </button>
    </div>
  </div>
</div>
</form>