<div class="page">
    <div class="title">
        Connect to Slack App
    </div>
    <div class="content">
        <form (ngSubmit)="doSubmit()" #form="ngForm">
            <section class="flex-container">
                <div class="flex-item full-width">
                    <ul>
                        <li *ngIf="!success">
                            <button type="button" onclick="window.open('https://api.slack.com/apps')">Create Slack App</button>
                        </li>
                        <li *ngIf="!success">
                            Copy and paste the Client ID and Client Secret from the Basic Information page to the inputs below
                        </li>
                        <li *ngIf="!success">
                            Copy and paste the Redirect URL and Request URL from below to the corresponding pages in your Slack App configuration
                        </li>
                        <li *ngIf="success">
                            Click the Add to Slack button below
                        </li>
                    </ul>
                </div>
            </section>
            <section class="flex-container" *ngIf="!success">
                <div class="flex-item full-width">
                    <label>Client ID</label>
                    <input type="text" name="id" placeholder="2316109355.90688238946" [(ngModel)]="this.wizardService.values.slack.clientId" (input)="validate()" autofocus>
                </div>
            </section>
            <section class="flex-container" *ngIf="!success">
                <div class="flex-item full-width">
                    <label>Client Secret</label>
                    <input type="password" name="secret" placeholder="4c712f6d4fb2208ed389c33810a63df7" [(ngModel)]="this.wizardService.values.slack.clientSecret" (input)="validate()">
                </div>
            </section>
            <section class="flex-container" *ngIf="!success">
                <div class="flex-item full-width">
                    <label>OAuth & Permissions - Redirect URL</label>
                    <div class="code">{{ myURL }}/api/v1/slack/oauth</div>
                </div>
            </section>
             <section class="flex-container" *ngIf="!success">
                <div class="flex-item full-width">
                    <label>Interactive Messages - Request URL</label>
                    <div class="code">{{ myURL }}/api/v1/slack/slack/receive</div>
                </div>
            </section>
            <section class="flex-container" *ngIf="success">
                <div class="flex-item next">
                     <a href="https://slack.com/oauth/authorize?scope=incoming-webhook,commands,bot&client_id={{ this.wizardService.values.slack.clientId }}">
                        <img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png"
                        srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" />
                    </a>
                </div>
            </section>
            <section class="flex-container">
                <div class="flex-item next">
                    <button type="submit" class="nextBtn">{{buttonText}}</button>
                </div>
            </section>
        </form>
    </div>
</div>