<form #form="ngForm" style="min-height: 0;">
  <span class="tag" tabindex="-1" style="overflow: visible">
    <button *ngIf="tag.value === '' && tag.key !== ''" class="tag__delete" tabindex="-1" (click)="tag.key = ''"></button>
    <span class="tag__key">
      <input #keyInput [(ngModel)]="tag.key" name="key" type="text" class="tag-input tag-input-key tag__key" style="background: none; border: 0; outline: 0; min-width: 20px; width: 20px; margin-left: -1px;" autocomplete="off"
        *ngIf="!keys[tag.key] || keyFocused"
        (blur)="keyFocused = false"
        (keyup)="keyInputKeyUp($event)">
      <span *ngIf="keys[tag.key] && !keyFocused" (click)="focusKeyInput()">{{ tag.key }}:</span>
      <div *ngIf="!keys[tag.key]" class="tag-list tag-list-keys">
        <div *ngFor="let key of keys | tagPipe:tag.key" class="tag-list-item" [class.tag-list-item-highlighted]="highlighted.key === key.key" (click)="values = key.values; tag.key = key.key; valueInput.focus();">
          {{ key.key }}
        </div>
      </div>
    </span>
    <span *ngIf="keys[tag.key]" class="tag__value">
      <input #valueInput [(ngModel)]="tag.value" name="value" type="text" class="tag-input tag-input-value tag__value" style="background: none; border: 0; outline: 0; min-width: 20px; width: 20px;" autocomplete="off"
        *ngIf="values.indexOf(tag.value) < 0"
        (keyup)="valueInputKeyUp($event)"
        (focus)="valueFocused = true" (blur)="valueFocused = false">
      <span *ngIf="!valueFocused && values.indexOf(tag.value) > -1" (click)="focusValueInput()">{{ tag.value }}</span>
      <div *ngIf="keys[tag.key] && ((values | tagPipe:tag.value).length > 1 || ((values | tagPipe:tag.value).length === 1 && (values | tagPipe:tag.value)[0] !== tag.value))" 
        class="tag-list tag-list-values">
        <div *ngFor="let value of values | tagPipe:tag.value" class="tag-list-item" [class.tag-list-item-highlighted]="highlighted.value === value" (click)="tag.value = value;">
          {{ value }}
        </div>
      </div>
    </span>
    <button *ngIf="tag.value && tag.value !== ''" class="tag__delete" tabindex="-1" (click)="tag.value = ''"></button>
  </span>
</form>