{
  "extends": "airbnb",
  "plugins": [],
  "rules": {
    "no-param-reassign": [2, { "props": false }],
    "no-underscore-dangle": "off",
    "no-use-before-define": ["error", { "functions": false }],
    "no-nested-ternary": "off",
    "no-confusing-arrow": "off",
    "new-cap": "off",
    "newline-per-chained-call": "off",
    "func-names": "off",
    "strict": "off",
    "prefer-rest-params": "off",
    "react/require-extension" : "off",
    "import/no-extraneous-dependencies" : "off",
    "class-methods-use-this": "off",
    "max-len": ["error", {
      "code": 100,
      "ignoreComments": true,
      "ignoreTrailingComments": true,
      "ignoreUrls": true,
      "ignoreStrings": true,
      "ignoreTemplateLiterals": true
    }],
    "quotes": ["error", "double", { "avoidEscape": true }]
  },
  "env": {
       "mocha": true
   }
}
