# Logs
logs
*.log
npm-debug.log

# Runtime data
pids
*.pid
*.seed

# Dependency directory
/node_modules
/bower_components

# IDE Properties
/.c9
/.vscode
**/.idea

# MongoDB
/data
/mongod

# demo
demo/config.js
test/config.js

# webfonts
web/css/webfonts

# Password
/web.htpasswd