<div class="layout is-flex has-islands">
  <div class="island--full-width island--center island--login" [class.island--login-error-height]="loginError">
    <form (ngSubmit)="login(form)" #form="ngForm">
      <div class="island island--login-row" style="min-height: 67px; width: auto; max-width: 602px; min-width: 392px">
        <img src="/assets/images/davis-logo-wide.svg" class="davis-logo">
      </div>
      <div *ngIf="loginError" class="island island--login-row island--error island--login-error island--error-container">
        <div class="island--error-text">
          {{ loginError }}
        </div>
        <div class="island--error-button">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" 
            class="icon icon--black icon--error-button" 
            (click)="loginError = false;">
            <use xlink:href="#clear"></use>
          </svg>
        </div>
      </div> 
      <div class="island island--login-row">
        <label for="email" class="label theme--dark-label">
          Email
        </label>
        <input #emailInput type="email" name="email" class="inputfield" 
          id="email" [(ngModel)]="email" required/>
      </div>
      <div class="island island--login-row">
        <label for="password" class="label theme--dark-label">
          Password
        </label>
        <input type="password" name="password" class="inputfield" 
          id="password" [(ngModel)]="password" required/>
      </div>
      <div class="island island--login-row" style="padding-top: 21px">
        <button type="submit" role="button" class="btn btn--primary btn--submit" style="border-color: white"
          [attr.disabled]="(submitButton === 'Signing in...') ? '' : null">
            {{ submitButton }}
        </button>
      </div>
    </form>
  </div>
</div>