<div class="layout is-flex has-islands">
  <div class="island--full-width island--center island--login" [class.island--login-error-height]="loginError" style="border: 0.5px solid #ececec">
    <form (ngSubmit)="login(form)" #form="ngForm">
      <div class="island island--login-row" style="min-height: 67px;">
        <!--
        <svg class="davis-logo" style="fill: #004999; width: 125px; height: 125px; margin-top: -30px">
          <use xlink:href="#davis"></use>
        </svg>
        -->
        <img src="/assets/images/davis-logo.png" class="davis-logo">
      </div>
      <div *ngIf="loginError" class="island island--login-row island--error island--login-error">
           {{ loginError }}
      </div> 
      <div class="island island--login-row">
        <label for="email" class="label">
          Email
        </label>
        <input type="email" name="email" class="inputfield" 
          id="email" [(ngModel)]="email" autofocus required/>
      </div>
      <div class="island island--login-row">
        <label for="password" class="label">
          Password
        </label>
        <input type="password" name="password" class="inputfield" 
          id="password" [(ngModel)]="password" required/>
      </div>
      <div class="island island--login-row">
        <button type="submit" role="button" class="btn btn--primary btn--submit"
          [attr.disabled]="(!form.valid || submitButton === 'Signing in...') ? '' : null">
            {{ submitButton }}
        </button>
      </div>
    </form>
  </div>
</div>