<div class="layout is-flex has-islands">
  <div class="island--full-width" style="margin: 0px 0px 16px 0px; padding: 0">
    <div class="config-title">
      Voice Navigation
    </div>
    <a href="https://github.com/Dynatrace/davis-server/wiki/Setup-Voice-Navigator" target="_blank" class="config-help">
      {{ iConfig.helpLinkText }}
    </a>
  </div>
  <div class="island--full-width" style="margin: 16px 0px 16px 0px; padding: 0">
    <button type="button" class="btn btn--secondary" (click)="iDavis.addToChrome()">
        Add to Chrome
    </button>
  </div>
</div>
