<div class="page">
    <div class="content">
        <section class="flex-container">
            <div class="flex-item full-width">
                <button type="button" class="log-out config" style="margin-left: 50%; margin-top: 25px; transform: translateX(-50%)"
                    (click)="iDavis.addToChrome()">
                    Add to Chrome
                </button>
                <a href="https://github.com/Dynatrace/davis-server/wiki/Setup%20Chrome%20Extension"
                    target="_blank" class="docs-link" style="margin-left: 50%; margin-top: 25px; transform: translateX(-50%)">
                    {{ iDavis.helpLinkText }}
                </a>
            </div>
        </section>
    </div>
</div>
