<div class="page">
    <div class="content">
        <form (ngSubmit)="doSubmit()" #form="ngForm">
             <section class="flex-container">
                <div class="flex-item full-width">
                    <h3 style="text-align: center">Coming soon!</h3>
                </div>
            </section>
            <section class="flex-container" *ngIf="false">
                <div class="flex-item next">
                    <button type="submit" class="content-save-button" 
                        [attr.disabled]="(!form.valid || submitButton === 'Saving...') ? true : null">
                        {{ submitButton }}
                    </button>
                </div>
            </section>
        </form>
    </div>
</div>