<form (ngSubmit)="doSubmit()" #form="ngForm">
<div style="position:absolute;height:0px; overflow:hidden; ">
  Username <input type="text" name="fake_safari_username" tabindex="-1">
  Password <input type="password" name="fake_safari_password" tabindex="-1">
</div>
<div class="layout is-flex has-islands" [class.fadeInSlow]="iConfig.isWizard" [class.slideInRight]="iConfig.isWizard">
  <div class="island--full-width" 
    [class.wizard-border]="iConfig.isWizard"
    [class.island--full-width-sidebar]="!iConfig.isWizard">
    <div class="config-title">
      Connect to Slack App
    </div>
    <div *ngIf="iConfig.isWizard" class="wizard-step-number">
      Step 4 of 4
    </div>
    <a href="https://github.com/Dynatrace/davis-server/wiki/Setup%20Slack" target="_blank" class="config-help">
      {{ iConfig.helpLinkText }}
    </a>
  </div>
  <div *ngIf="iConfig.status['slack'].success === false" class="island--full-width island--error island--error-container"
    [class.wizard-border]="iConfig.isWizard"
    [class.island--full-width-sidebar]="!iConfig.isWizard">
    <div class="island--error-text">
      {{ iConfig.status['slack'].error }}
    </div>
    <div class="island--error-button">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" 
        class="icon icon--black icon--error-button" 
        (click)="iConfig.status['slack'].success = null;">
        <use xlink:href="#clear"></use>
      </svg>
    </div>
  </div>
  <div class="layout is-flex has-islands island--half">
    <div class="layout__container layout--half">
      <div class="island" 
        [class.wizard-border]="iConfig.isWizard"
        [class.island--sidebar-left]="!iConfig.isWizard">
        <div class="island island--full">
          <ul class="list" 
            *ngIf="iConfig.isWizard || isDirty 
              || !iConfig.values.slack.clientId || !iConfig.values.slack.clientSecret 
              || iConfig.values.slack.clientId.length < 1 || iConfig.values.slack.clientSecret.length < 1">
            <li>
              <a href="https://api.slack.com/apps" target="_blank">
                Create a new Slack App on Slack's website
              </a>
            </li>
            <li>
              Copy and paste Client ID and Client Secret from your Slack App's Basic Information page to the inputs below
            </li>
            <li>
              Copy and paste Request URL to "Interactive Messages" and Redirect URL to "OAuth & Permissions" from below to the inputs in your Slack App's configuration
            </li>
            <li>
              Create a new bot user within the "Bot Users" section found in your Slack App's configuration and click the "Connect" button below
            </li>
            <li>
              Follow the steps offered on Slack's site to finish
            </li>
          </ul>
          <ul class="list"  
            *ngIf="!iConfig.isWizard && !isDirty && form.valid 
              && (iConfig.values.slack.clientId && iConfig.values.slack.clientId.length > 1)
              && (iConfig.values.slack.clientSecret && iConfig.values.slack.clientSecret.length > 1)">
            <li>
              It appears that this davis Slack App instance has already been added to at least one Slack team. 
              If you would like to add davis to another team or your authentication tokens were revoked, please follow the steps below. 
            </li>
            <li>
              Click the Add to Slack button below to add davis to a Slack account
            </li>
            <li>
              Follow the steps offered on Slack's site to finish
            </li>
            <li>
              <span class="text--warning">Warning:</span> Only change the Client Id and 
              Client Secret if the original davis Slack App was deleted and a new Slack App has been created on Slack's website as a replacement.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="layout__container layout--half">
      <div class="island" 
        [class.wizard-border]="iConfig.isWizard"
        [class.island--sidebar-right]="!iConfig.isWizard">
        <div class="island island--full">
          <label for="clientId" class="label">
            Client ID
          </label>
          <input #clientId type="text" id="clientId" class="inputfield" name="clientId" autocomplete="off"
            [attr.disabled]="(iConfig.values.original.slack.clientId) ? true : null"
            [(ngModel)]="iConfig.values.slack.clientId" (keyup)="validate()">
        </div>
        <div class="island island--full">           
          <label for="clientSecret" class="label">
            Client Secret
          </label>
          <div class="input-button-wrapper" 
            [class.input-button-wrapper-focus]="isSecretFocused" 
            [class.input-button-wrapper-disabled]="iConfig.values.original.slack.clientId">
            <input *ngIf="isSecretMasked" type="password" name="clientSecret" id="clientSecret" class="input-button-input" autocomplete="off"
                [attr.disabled]="(iConfig.values.original.slack.clientId) ? true : null"
                [(ngModel)]="iConfig.values.slack.clientSecret" 
                (focus)="isSecretFocused = true" (blur)="isSecretFocused = false" (keyup)="validate()">
            <input *ngIf="!isSecretMasked" type="text" name="clientSecret" id="clientSecret" class="input-button-input" autocomplete="off"
                [attr.disabled]="(iConfig.values.original.slack.clientId) ? true : null"
                [(ngModel)]="iConfig.values.slack.clientSecret" (focus)="isSecretFocused = true" (blur)="isSecretFocused = false" (keyup)="validate()">
            
            <div class="input-button-button" (click)="isSecretMasked = !isSecretMasked">
              <svg class="icon icon--black icon--input-button-img" [class.input-button-img-password-masked]="isSecretMasked">
                <use xlink:href="#eye"></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="island island--full">
          <label for="requestUri" class="label">
            Interactive Messages - Request URL
          </label>
          <div class="input-button-wrapper" [class.input-button-wrapper-focus]="isRequestUriFocused">
              <input type="text" id="requestUri" name="requestUri" class="input-button-input" autocomplete="off"
                  [(ngModel)]="requestUri"
                  (focus)="isRequestUriFocused = true" (blur)="isRequestUriFocused = false" (click)="iDavis.clickElem('requestUriBtn')" readonly>
  
              <div id="requestUriBtn" class="input-button-button clipboard" data-clipboard-target="#requestUri">
                <svg class="icon icon--black icon--input-button-img" [class.input-button-img-password-masked]="!isRequestUriFocused">
                  <use xlink:href="#cut"></use>
                </svg>
              </div>
          </div>
        </div>
        <div class="island island--full">         
          <label for="redirectUri" class="label">
            OAuth & Permissions - Redirect URL
          </label>
          <div class="input-button-wrapper" [class.input-button-wrapper-focus]="isRedirectUriFocused">
              <input #redirectUri type="text" id="redirectUri" name="redirectUri" class="input-button-input" autocomplete="off"
                  [(ngModel)]="iConfig.values.slack.redirectUri"
                  (focus)="isRedirectUriFocused = true" (blur)="isRedirectUriFocused = false" (click)="iDavis.clickElem('redirectUriBtn')" readonly>
              
              <div id="redirectUriBtn" class="input-button-button clipboard" data-clipboard-target="#redirectUri">
                <svg class="icon icon--black icon--input-button-img" [class.input-button-img-password-masked]="!isRedirectUriFocused">
                  <use xlink:href="#cut"></use>
                </svg>
              </div>
          </div>
        </div>
        <div class="island island--full island--submit" 
          *ngIf="!iConfig.isWizard && !isDirty && form.valid 
            && (iConfig.values.slack.clientId && iConfig.values.slack.clientId.length > 1)
            && (iConfig.values.slack.clientSecret && iConfig.values.slack.clientSecret.length > 1)">
          <a href="https://slack.com/oauth/authorize?scope=incoming-webhook,commands,bot&client_id={{ iConfig.values.slack.clientId }}" 
            style="display: block; margin: 0 auto; width: 139px">
            <img class="slack-button" alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png"
              srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" />
          </a>
        </div>
        <div class="island island--full island--submit" *ngIf="iConfig.isWizard || !iConfig.values.original.slack.clientId">
          <button type="submit" class="btn btn--primary btn--submit"
            [class.btn--warning]="submitButton === 'Skip and Finish'" 
            [attr.disabled]="
              (((!iConfig.values.slack.clientId || !iConfig.values.slack.clientSecret) && !iConfig.isWizard) 
                || (iConfig.values.slack.clientId && iConfig.values.slack.clientId.length < 23 && !iConfig.isWizard) 
                || (iConfig.values.slack.clientSecret && iConfig.values.slack.clientSecret.length < 32 && !iConfig.isWizard) 
                || submitButton === 'Connecting...' 
                || (!isDirty && !iConfig.isWizard)) ? true : null">
            {{ submitButton }}
          </button>
        </div>
        <div *ngIf="iConfig.values.original.slack.clientId" class="island island--full island--submit">
          <button type="button" class="btn btn--secondary btn--secondary--delete"
              style="float: right"
              (click)="deleteSlackAppConfig()">
              {{ (confirmDeleteSlackAppConfig) ? 'Confirm Disconnect' : 'Disconnect' }}
          </button>
        </div>
      </div>
     </div>
  </div>
</div>
</form>
