<div class="page">
    <div *ngIf="iDavis.isWizard" class="step">
        Step 4 of 4
    </div>
    <div *ngIf="iDavis.isWizard" class="title">
        Connect to Slack App
    </div>
    <div class="content">
        <form (ngSubmit)="doSubmit()" #form="ngForm">
            <section *ngIf="iDavis.config['slack'].error" class="flex-container">
                <div class="flex-item full-width error">
                    {{ iDavis.config['slack'].error }}
                </div>
            </section>
            <section class="flex-container">
                <div class="flex-item full-width">
                    <ul>
                        <li *ngIf="!iDavis.config['slack'].success || !iDavis.isWizard">
                            <button type="button" onclick="window.open('https://api.slack.com/apps')">Create Slack App</button>
                        </li>
                        <li *ngIf="!iDavis.config['slack'].success || !iDavis.isWizard">
                            Copy and paste the Client ID and Client Secret from your Slack App's Basic Information page to the inputs below
                        </li>
                        <li *ngIf="!iDavis.config['slack'].success || !iDavis.isWizard">
                            Copy and paste the Redirect URL and Request URL from below to the corresponding pages' inputs in your Slack App's configuration
                        </li>
                        <li *ngIf="!iDavis.config['slack'].success || !iDavis.isWizard">
                            Create a new bot user within the "Bot Users" section and click the "Create Davis Slack Bot" button below
                        </li>
                        <li *ngIf="iDavis.config['slack'].success || !iDavis.isWizard">
                            Click the Add to Slack button below and follow the steps offered on Slack's site to finish
                        </li>
                    </ul>
                </div>
            </section>
            <section class="flex-container" *ngIf="!iDavis.config['slack'].success">
                <div class="flex-item full-width">
                    <label>Client ID</label>
                    <input type="text" name="clientId" [(ngModel)]="iDavis.values.slack.clientId" (keyup)="validate()">
                </div>
            </section>
            <section class="flex-container" *ngIf="!iDavis.config['slack'].success">
                <div class="flex-item full-width">
                    <label>Client Secret</label>
                    <div class="input-button-wrapper" [class.input-button-wrapper-focus]="isPasswordFocused">
                        <input *ngIf="isPasswordMasked" type="password" name="clientSecret" class="input-button-input"
                            [(ngModel)]="iDavis.values.slack.clientSecret"
                            (focus)="isPasswordFocused = true" (blur)="isPasswordFocused = false" (keyup)="validate()" [required]="(!iDavis.isWizard) ? '' : null">
                        <input *ngIf="!isPasswordMasked" type="text" name="clientSecretText" class="input-button-input"
                            [(ngModel)]="iDavis.values.slack.clientSecret"
                            (focus)="isPasswordFocused = true" (blur)="isPasswordFocused = false" (keyup)="validate()" [required]="(!iDavis.isWizard) ? '' : null">
                        <div class="input-button-button" (click)="isPasswordMasked = !isPasswordMasked">
                            <img class="input-button-img" [class.input-button-img-password-masked]="isPasswordMasked" src="/assets/img/eye.svg">
                        </div>
                    </div>
                </div>
            </section>
            <section class="flex-container" *ngIf="!iDavis.config['slack'].success">
                <div class="flex-item full-width">
                    <label>OAuth & Permissions - Redirect URL</label>
                    <div class="input-button-wrapper" [class.input-button-wrapper-focus]="isRedirectUriFocused">
                        <input type="text" id="redirectUri" name="redirectUri" class="input-button-input"
                            [(ngModel)]="iDavis.values.slack.redirectUri"
                            (focus)="isRedirectUriFocused = true" (blur)="isRedirectUriFocused = false" (click)="iDavis.clickElem('redirectUriBtn')" readonly>
                        <div id="redirectUriBtn" class="input-button-button clipboard" data-clipboard-target="#redirectUri">
                            <img class="input-button-img" [class.input-button-img-password-masked]="!isRedirectUriFocused" src="/assets/img/cut.svg">
                        </div>
                    </div>
                </div>
            </section>
            <section class="flex-container" *ngIf="!iDavis.config['slack'].success">
                <div class="flex-item full-width">
                    <label>Interactive Messages - Request URL</label>
                    <div class="input-button-wrapper" [class.input-button-wrapper-focus]="isRequestUriFocused">
                        <input type="text" id="requestUri" name="requestUri" class="input-button-input"
                            [(ngModel)]="requestUri"
                            (focus)="isRequestUriFocused = true" (blur)="isRequestUriFocused = false" (click)="iDavis.clickElem('requestUriBtn')" readonly>
                        <div id="requestUriBtn" class="input-button-button clipboard" data-clipboard-target="#requestUri">
                            <img class="input-button-img" [class.input-button-img-password-masked]="!isRequestUriFocused" src="/assets/img/cut.svg">
                        </div>
                    </div>
                </div>
            </section>
            <section class="flex-container" *ngIf="iDavis.config['slack'].success || !iDavis.isWizard">
                <div class="flex-item next">
                    <a href="https://slack.com/oauth/authorize?scope=incoming-webhook,commands,bot&client_id={{ iDavis.values.slack.clientId }}">
                        <img class="slack-button" alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png"
                        srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" />
                    </a>
                </div>
            </section>
            <section class="flex-container" *ngIf="!iDavis.config['slack'].success">
                <div class="flex-item next">
                    <a href="https://github.com/Dynatrace/davis-server/wiki/Setup%20Slack" target="_blank" class="docs-link">{{ iDavis.helpLinkText }}</a>
                    <button type="submit" class="content-save-button"
                        [class.warning]="submitButton === 'Skip and Finish' || submitButton === 'Skip'"
                        [attr.disabled]="(!form.valid || submitButton === 'Saving...' || (!isDirty && !iDavis.isWizard)) ? true : null">
                        {{ submitButton }}
                    </button>
                </div>
            </section>
        </form>
    </div>
</div>
