/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #454646;
  background-image: url("/assets/img/background_texture.png");
  background-repeat: repeat;
  background-color: #f2f2f2;
}

label {
  float: left;
  font-size: 12px;
  color: #454646;
  margin-bottom: 3px;
}

input[type=text], input[type=email], input[type=password]  {
  clear: both;
  float: left;
  color: #454646;
  border: 1px solid #cccccc;
  border-radius: 3px;
  font-size: 14px;
  width: 100%;
  height: 32px;
  padding: 3px 1px 3px 12px;
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
	outline: none;
	border-width: 2px;
	padding: 2px 0px 2px 11px;
}

input[type=text]::-ms-clear, input[type=email]::-ms-clear, input[type=password]::-ms-clear {
    display: none;
}

input[type=text]::-ms-input-placeholder, input[type=email]::-ms-input-placeholder, input[type=password]::-ms-input-placeholder {
	color: #d3d3d3;
}

.input-button-wrapper {
  display: inline-flex;
  width: 100%;
  height: 36px;
  padding: 1px 12px 1px 1px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: white;
}

.input-button-wrapper-focus {
    padding: 0px 11px 0px 0px;
    border-width: 2px;
}

input[type=text].input-button-input, input[type=email].input-button-input, input[type=password].input-button-input {
  float: left;
  border-width: 0;
  width: calc(100% - 30px);
  height: 32px;
  padding: 0;
  margin: 2px 0px 4px 12px;
}

input[type=text].input-button-input:focus, input[type=email].input-button-input:focus, input[type=password].input-button-input:focus {
	outline: none;
	border-width: 0;
	padding: 0;
}

.input-button-button {
  float: right;
  width: 32px;
  height: 38px;
  margin-right: -4px;
  cursor: pointer;
}

.input-button-img {
  float: right;
  width: 20px;
  height: 20px;
  margin: 8px 0px;
  opacity: 1.0;
}

.input-button-img-password-masked {
  opacity: 0.3;
}

input[type=checkbox] {
  float: left;
}

select {
  clear: both;
  float: left;
  color: #454646;
  border: 1px solid #cccccc;
  border-radius: 3px;
  font-size: 14px;
  width: 108%;
  height: 40px;
  padding: 3px 1px 3px 12px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: white url("/assets/img/arrow-down.svg") no-repeat 94% center;
  background-size: 16px 16px;
  cursor: pointer;
}

select:focus {
	outline: none;
	border-width: 2px;
	padding: 2px 0px 2px 11px;
}

.select-opened {
  background: white url("/assets/img/arrow-up.svg") no-repeat 94% center;
  background-size: 16px 16px;
}

button {
  border-radius: 3px;
  border: 1px solid transparent;
  background-color: #00a1b2;
  color: white;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  height: 32px;
  line-height: 14px;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #00848e;
}

button:active {
  background-color: #006f77;
}

button:disabled {
  background-color: #cccccc;
  cursor: default;
}

button:focus {
  outline: none;
}

.log-in {
  background-color: #00a6fb;
}

.log-in:hover {
  background-color: #008cdb;
}

.log-in:active {
  background-color: #006bba;
}

.log-out {
  position: relative;
  float: right;
  margin: 10px;
  padding: 0px 17px;
  border-color: #006bba;
  background-color: transparent;
  color: #006bba;
}

.log-out:hover {
  padding: 0px 16px;
  border: 2px solid #008cdb;
  background-color: transparent;
  color: #008cdb;
}

.log-out:active {
  padding: 0px 16px;
  border: 2px solid #006bba;
  background-color: transparent;
  color: #006bba;
}

.config {
  clear: both;
  float: left;
  margin-top: 100px;
  margin-left: calc(50% - 32px);
  border-color: #00a1b2;
  color: #00a1b2;
}

.config:hover {
  border: 2px solid #00848e;
  color: #00848e;
}

.config:active {
  border: 2px solid #006f77;
  color: #006f77;
}

.content-save-button {
  position: absolute;
  right: -15px;
}

.warning {
  background-color: #d3571a;
}

.warning:hover {
  background-color: #b64915;
}

.warning:active {
  background-color: #92380e;
}

.slack-button {
  position: absolute;
  left: 100px;
}

li {
  margin-bottom: 20px;
}

#logo {
  float: left;
  margin: 10px;
  width: 150px;
  cursor: pointer;
}

.page {
  float: left;
  width: 100%;
}

.error {
  color: red;
}

#made-in-detroit {
  position: fixed;
  left: calc(50% - 55px);
  bottom: 0;
  width: 110px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-size: 12px;
  border: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

#davis-logo {
  float: left;
  width: 80px;
  border: 1px solid #00A6FB;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

#davis-logo-text {
  text-align: center;
  width: calc(100% - 82px);
  float: left;
  font-size: 60px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: white;
}

.step {
  margin: 0 auto;
  margin-top: 50px;
  width: 400px;
  font-size: 14px;
  font-weight: bold;
}

.title {
  margin: 0 auto;
  margin-top: 10px;
  width: 400px;
  font-size: 28px;
  font-weight: bold;
}

.title-global {
  width: calc(100% - 350px);
  text-align: center;
  font-size: 36px;
  float: left;
  padding-top: 50px;
}

.title-auth {
  clear: both;
  margin-top: 100px;
  width: 315px;
  padding-left: 15px;
}

.content {
  margin: 0 auto;
  margin-top: 10px;
  width: 400px;
}

.content-auth {
  clear: both;
  padding-top: 20px;
  width: 300px;
}

.flex-container {
  margin-bottom: 20px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  -webkit-flex: none;
  -moz-flex: none;
  -ms-flex: none;
  -o-flex: none;
}

.flex-item {
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  -o-flex: 1;
}

.half-width {
  -webkit-flex: 3;
  -moz-flex: 3;
  -ms-flex: 3;
  -o-flex: 3;
}

.full-width {
  -webkit-flex: 6;
  -moz-flex: 6;
  -ms-flex: 6;
  -o-flex: 6;
}

.left-half {
  padding-right: 10px;
}

.right-half {
  padding-left: 10px;
}

.next {
  position: relative;
  padding-bottom: 90px;
  -webkit-flex: 2;
  -moz-flex: 2;
  -ms-flex: 2;
  -o-flex: 2;
}

.code {
  word-break: break-all;
  border-radius: 3px;
  padding: 10px 3px 10px 10px;
  width: 100%;
  line-height: 12px;
  font-size: 12px;
  clear: both;
  background-color: white;
  border: 1px solid #cccccc;
  font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New; 
}

/* Configuration navbar */
.navbar-wrapper {
  margin: 0 auto;
  padding-top: 40px;
  clear: both;
  width: 500px;
}

.navbar-button {
  position: relative;
  float: left;
  padding: 3px 14px 3px 25px;
  font-size: 16px;
}

.navbar-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.navbar-button-selected {
  text-decoration: underline;
  font-weight: bold;
}