<div class="page">
    <div *ngIf="iDavis.isWizard" class="step">
        Step 1 of 4
    </div>
    <div *ngIf="iDavis.isWizard" class="title">
        Connect to Dynatrace
    </div>
    <div class="content">
        <form (ngSubmit)="doSubmit()" #form="ngForm">
            <section *ngIf="iDavis.config['dynatrace'].success === false" class="flex-container">
                <div class="flex-item full-width error">
                    {{iDavis.config['dynatrace'].error}}
                </div>
            </section>
            <section class="flex-container">
                <div class="flex-item full-width">
                    <label>Dynatrace Tenant URL</label>
                    <input type="text" name="url" [(ngModel)]="iDavis.values.dynatrace.url" (keyup)="validate()" required>
                </div>
            </section>
            <section class="flex-container">
                <div class="flex-item full-width">
                    <label>Dynatrace API Token</label>
                    <div class="input-button-wrapper" [class.input-button-wrapper-focus]="isTokenFocused">
                        <input *ngIf="isTokenMasked" type="password" name="token" class="input-button-input"
                            [(ngModel)]="iDavis.values.dynatrace.token"
                            (focus)="isTokenFocused = true" (blur)="isTokenFocused = false" (keyup)="validate()" required>
                        <input *ngIf="!isTokenMasked" type="text" name="tokenText" class="input-button-input"
                            [(ngModel)]="iDavis.values.dynatrace.token"
                            (focus)="isTokenFocused = true" (blur)="isTokenFocused = false" (keyup)="validate()" required>
                        <div class="input-button-button" (click)="isTokenMasked = !isTokenMasked">
                            <img class="input-button-img" [class.input-button-img-password-masked]="isTokenMasked" src="/assets/img/eye.svg">
                        </div>
                    </div>
                </div>
            </section>
            <section class="flex-container">
                <div class="flex-item next">
                    <a href="https://github.com/Dynatrace/davis-server/wiki/Getting%20Started" target="_blank" class="docs-link">{{ iDavis.helpLinkText }}</a>
                    <button type="submit" class="content-save-button"
                        [attr.disabled]="(!form.valid || submitButton === 'Saving...' || !isDirty) ? true : null">
                        {{ submitButton }}
                    </button>
                </div>
            </section>
        </form>
    </div>
</div>
