	body {
		background-color: #007ee6;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		margin: 0;
	}

	body.micOff {
	    -webkit-animation-name: micOff; /* Chrome, Safari, Opera */
	    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
	    animation-name: micOff;
	    animation-duration: 1s;
	    background-color: #007ee6;
	}

	body.micOn {
	    -webkit-animation-name: micOn; /* Chrome, Safari, Opera */
	    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
	    animation-name: micOn;
	    animation-duration: 1s;
	    background-color: #33a3ff;
	}

	a:link {
	    color: white;
	    text-decoration: none;
	    opacity: 0.4;
	}

	a:visited {
	    color: white;
	}

	a:hover {
	    color: white;
	    opacity: 1.0;
	    text-decoration: underline;
	}

	a:active {
	    color: white;
	}

	/* Chrome, Safari, Opera */
	@-webkit-keyframes micOff {
	    from {background-color: #33a3ff;}
	    to {background-color: #007ee6;}
	}

	/* Standard syntax */
	@keyframes micOff {
	    from {background-color: #33a3ff;}
	    to {background-color: #007ee6;}
	}

	/* Chrome, Safari, Opera */
	@-webkit-keyframes micOn {
	    from {background-color: #007ee6;}
	    to {background-color: #33a3ff;}
	}

	/* Standard syntax */
	@keyframes micOn {
	    from {background-color: #007ee6;}
	    to {background-color: #33a3ff;}
	}

	#davis-logo-wrapper {
		width: 150px;
		height: 30px;
		position: absolute;
		right: 25px;
		top: 0;
		background-color: #ffffff;
		border-bottom-left-radius: 9px;
		border-bottom-right-radius: 9px;
		z-index: 1001;
	}

	#davis-logo-wrapper:hover {
		background-color: #f2f2f2;
		cursor: pointer;
	}

	#davis-logo {
		margin: 8px 6px 6px 13px;
		background: url(../images/dynatrace-davis-logo.png);
		background-repeat: no-repeat;
		background-size: contain;
		height: 15px;
	}

	#logo {
		position: relative;
		margin: 0 auto;
		margin-top: 150px;
		background: url(../images/logo.png);
		background-repeat: no-repeat;
		background-size: contain;
		opacity: 0;
		width: 500px;
		height: 500px;
	}

	#logo.logoOff {
		-webkit-animation-name: micOn; /* Chrome, Safari, Opera */
	    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
	    animation-name: logoOff;
	    animation-duration: 1s;
		opacity: 0;
	}

	#logo.logoOn {
		-webkit-animation-name: micOn; /* Chrome, Safari, Opera */
	    -webkit-animation-duration: 3s; /* Chrome, Safari, Opera */
	    animation-name: logoOn;
	    animation-duration: 3s;
		opacity: 0.1;
	}

	/* Chrome, Safari, Opera */
	@-webkit-keyframes logoOff {
	    from {opacity: 0.1;}
	    to {opacity: 0;}
	}

	/* Standard syntax */
	@keyframes logoOff {
	    from {opacity: 0.1;}
	    to {opacity: 0;}
	}

	/* Chrome, Safari, Opera */
	@-webkit-keyframes logoOn {
	    from {opacity: 0;}
	    to {opacity: 0.1;}
	}

	/* Standard syntax */
	@keyframes logoOn {
	    from {opacity: 0;}
	    to {opacity: 0.1;}
	}

	table.debug {
	    border-collapse: collapse;
	    margin: auto 0;
	}

	table.debug, th.debug, td.debug {
		color: white;
	    border: 1px solid white;
	    padding: 10px;
	    position: relative;
	    margin: auto;
	}

	#interactionlog {
		position: absolute;
		top: 50px;
		text-align: center;
		width: 100%;
		z-index: 2;
	}

	#interactionlog p {
		position: relative;
		color: #BDBDEA;
		margin-top:10px;
		font-size: 20px;
		padding-left: 50px;
		padding-right: 50px;
	}

	#interactionlog p:last-of-type {
		color: #fcf8e3;
		font-size: 28px;
	}

	.inputWrapper {
		position: absolute;
		z-index: 1001;
		left: calc(50% - 300px);
		bottom: 20px;
	}

	#listeningState {
		position: relative;
		float: right;
		font-family: BerninaSans, Arial;
		font-size: 12px;
		color: white;
		margin-right: 110px;
		margin-bottom: 3px;
	}

	#connectedUrl {
		position: relative;
	    clear: both;
	    margin: auto 0;
	    text-align: center;
	    width: 600px;
	    font-family: BerninaSans, Arial;
	    font-size: 12px;
	    color: white;
	}

	#textInput {
		position: relative;
		clear: both;
		float: left;
		width: 600px;
		height: 51px;
		margin-bottom: 20px;
		padding: 6px 0px 6px 16px;
		background-color: white;
		border-radius: 9px;
		border: 1px solid white;
		font-family: BerninaSans, Arial;
		font-size: 20px;
		color: black;
	}

	#textInput:focus {
    	outline: none;
	}

	#muteWrapper {
		position: relative;
		float: left;
		width: 80px;
		height: 51px;
		padding: 5px 10px 0px 10px;
		cursor: pointer;
	}

	#muteSVG {
		position: relative;
		float: left;
		width: 40px;
		height: 40px;
		opacity: 1.0;
	}

	#muteSVG.muteOff {
	    opacity: 0.3;
	}

	.userStyle {
		color: rgba(0, 0, 0, 0.2) !important;
	}

	.botStyle {
		color: white;
	}

	.davisvisual__container {
		margin-top: 100px;
		position: relative;
		min-height: 250px;
	}

	.davisvisual__davis {
		position: absolute;
		left: 50%;
		top: 50%;
	}
