<form #form="ngForm">
<div class="layout is-flex has-islands" [class.fadeInSlow]="iConfig.isWizard" [class.slideInRight]="iConfig.isWizard">
  <div class="island--full-width" 
    [class.wizard-border]="iConfig.isWizard"
    [class.island--full-width-sidebar]="!iConfig.isWizard">
    <div class="config-title">
      Connect to Notification Source
    </div>
    <div *ngIf="iConfig.isWizard" class="wizard-step-number">
      Step 3 of 5
    </div>
    <a href="https://github.com/Dynatrace/davis-server/wiki/Notifications" target="_blank" class="config-help">
      {{ iConfig.helpLinkText }}
    </a>
  </div>
  <div class="layout is-flex has-islands island--half">
    <div class="layout__container layout--half">
      <div class="island" 
        [class.wizard-border]="iConfig.isWizard"
        [class.island--sidebar-left]="!iConfig.isWizard">
        <div class="island island--full">
          <ul class="list">
            <li>
              Open
              <a [href]="iConfig.values.dynatrace.url + '/#settings/integration/notification/integrationwebhook'" target="_blank">
                Integration - Problem Notifications
              </a> 
              and copy/paste the following <span style="font-weight: bold">Webhook URL</span> and <span style="font-weight: bold">Custom JSON Payload</span> values into their matching inputs.
            </li>
            <li>
              Enable all notification levels, then click the Test button. If the test was successful, click the Save button.
            </li>
            <li>
              In order to start receiving notifications, you must add at least one filter in <a (click)="iConfig.selectView('notification-rules')" style="cursor: pointer">Notification - Rules</a>.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="layout__container layout--half">
      <div class="island" 
        [class.wizard-border]="iConfig.isWizard"
        [class.island--sidebar-right]="!iConfig.isWizard">
        <div class="island island--full">         
          <label for="webhookUrl" class="label">
            Webhook URL
          </label>
          <div class="input-button-wrapper" [class.input-button-wrapper-focus]="isWebhookUrlFocused">
              <input type="text" id="webhookUrl" name="webhookUrl" class="input-button-input" autocomplete="off"
                  [(ngModel)]="webhookUrl"
                  (focus)="isWebhookUrlFocused = true" (blur)="isWebhookUrlFocused = false" (click)="iDavis.clickElem('webhookUrlBtn')" readonly>
              
              <div id="webhookUrlBtn" class="input-button-button clipboard" data-clipboard-target="#webhookUrl">
                <svg class="icon icon--black icon--input-button-img" [class.input-button-img-password-masked]="!isWebhookUrlFocused">
                  <use xlink:href="#cut"></use>
                </svg>
              </div>
          </div>
        </div>      
        <div class="island island--full">
          <label for="payload" class="label">
            Custom JSON Payload
          </label>
          <div class="input-button-wrapper" [class.input-button-wrapper-focus]="isPayloadFocused">
              <input type="text" id="payload" name="payload" class="input-button-input" autocomplete="off"
                  [(ngModel)]="iConfig.values.notifications.config"
                  (focus)="isPayloadFocused = true" (blur)="isPayloadFocused = false" (click)="iDavis.clickElem('payloadBtn')" readonly>
  
              <div id="payloadBtn" class="input-button-button clipboard" data-clipboard-target="#payload">
                <svg class="icon icon--black icon--input-button-img" [class.input-button-img-password-masked]="!isPayloadFocused">
                  <use xlink:href="#cut"></use>
                </svg>
              </div>
          </div>
        </div>
      </div>
     </div>
  </div>
</div>
</form>
