body.iFrameTile {
  background-color: white; }
 
form {
  min-height: 0px;
  width: 100%; } 
  
.sidebar-sm {
  width: 100%;
  flex: none; }
  
.breadcrumbs__link {
  cursor: pointer; }
  
.breadcrumbs {
  display: none; }
  
.breadcrumbs--spacer {
  width: 100%;
  height: 44px; }
  
.chat-spacer {
  width: 100%; 
  height: 60px; }

.disabled.breadcrumbs__link, .disabled.breadcrumbs__link:hover {
  cursor: default;
  background-color: #006bba; }
  
.disabled.breadcrumbs__link:after, .disabled.breadcrumbs__link:hover:after {
  border-left-color: #006bba; }
  
.config-title {
  font-size: 28px; }
  
.config-help {
  font-size: 14px; }

.wizard-step-number {
  font-size: 18px; }
  
.wizard-border {
  border: 0.5px solid #ececec; }
  
.layout--two-thirds {
  flex-basis: 66.66%; }
  
.layout--third {
  flex-basis: 33.33%; }
  
.island--connected {
  min-height: 624px; }
  
.island--full-width {
  padding: 16px;
  margin: 12px;
  background-color: #fff;
  width: 100%;
  border-radius: 3px; }
  
.island--full-width-sidebar {
  margin: 0;
  padding: 0; }
  
.island--full.island {
  padding: 8px 0px;
  margin: 0; }
  
.island--sidebar-left.island {
  padding: 0px 32px 0px 0px;
  margin: 0; }

.island--sidebar-right.island {
  padding: 0;
  margin: 0; }
  
.island--half, .island--half.layout.has-islands {
  padding: 8px 0px; }

.island--half--left {
  margin: 0px 8px 0px 0px; }

.island--half--right {
  margin: 0; }

.island--center {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  padding: 16px 0px; }
  
.island--center.island--center-davisInput {
  max-width: none; }
  
.island--left {
  margin: 0; }
  
.island--scrollable-table {
  position: absolute;
  top: 112px;
  width: 100%;
  margin-top: -20px;
  max-height: 450px;
  overflow-y: auto; }
  
.island--my-account {
  padding: 0; }
  
.island--my-account-error {
  max-width: 600px;
  margin-top: 10px;
  padding: 10px; }
  
.island--user-accounts {
  margin-top: -30px;
  padding: 0; }
  
.island--user-accounts-error {
  max-width: 600px;
  margin-bottom: 32px;
  padding: 16px; }

.island--submit.island {
  padding-top: 28px;
  padding-bottom: 50px; }

.island--login {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background: none;
  border: 0;
  height: 380px; }

.island--login-row {
  width: 396px;
  background: none;
  margin: 0 auto;
  padding: 8px 16px; }
  
.island--login-error {
  width: 364px;
  font-size: 14px;
  margin-bottom: 14px;
  padding: 8px 11px; }
  
.island--login-error-height {
  height: 410px; }
  
.island--global-error {
  position: fixed;
  top: 44px;
  z-index: 1000;
  margin: 0;
  border-radius: 0; }
  
.card-field.card-field-short {
    width: 260px; }
  
.config-background {
  background-color: #f8f8f8; }

@keyframes darkToLight {
  from { background-color: #191919; }
  to   { background-color: #f8f8f8; } }

body.theme--dark-background {
  background-color: #191919; }
  
body.theme--blue {
  background-color: #f8f8f8; }

body.theme--blue-animation {
  animation-name: darkToLight;
  animation-duration: 3s; 
  background-color: #f8f8f8; }
  
@keyframes fadeIn {
  0% { opacity: 0.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; } }

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1s;
  opacity: 1.0; }
  
@keyframes fadeInSlow {
  0% { opacity: 0.0; }
  100% { opacity: 1.0; } }

.fadeInSlow {
  animation-name: fadeInSlow;
  animation-duration: 5s;
  opacity: 1.0; }
  
@keyframes fadeOut {
  0% { opacity: 1.0; }
  50% { opacity: 1.0; }
  100% { opacity: 0.0; } }

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 1s;
  opacity: 0.0; }
  
@keyframes slideDownDavisCard {
  0% { margin-top: -360px; }
  50% { margin-top: -360px; }
  100% { margin-top: 0px; } }

.slideDownDavisCard {
  animation-name: slideDownDavisCard;
  animation-duration: 1500ms;
  bottom: 0px; }
  
@keyframes slideUpDavisInput {
  0% { bottom: -104px; }
  50% { bottom: -104px; }
  100% { bottom: 0px; } }

.slideUpDavisInput {
  animation-name: slideUpDavisInput;
  animation-duration: 1500ms;
  bottom: 0px; }
  
.slideInRight {
  animation-name: slideInRight;
  animation-duration: 1500ms;
  margin-left: 0px; }
  
@keyframes slideInRight {
  0% { margin-left: 30%; }
  100% { margin-left: 0px; } }

.davis-card svg {
  fill: #004999;
  width: 175px;
  height: 175px;
  display: block;
  margin: 0 auto; }

label.theme--dark-label {
  color: white; }

.icon--back {
  cursor: pointer;
  fill: black; }

.icon--back:hover {
  fill: grey; }
  
.icon--nav__btn {
  width: 26px;
  height: 26px;
  margin-top: 9px; }
  
.icon--input-button-img {
  width: 26px;
  height: 26px;
  margin-top: 2px; }
  
.nav__user-menu {
  position: absolute;
  top: 44px;
  right: 0;
  z-index: 1000;
  width: 320px;
  color: white;
  background-color: #525252; }
  
.nav__user-menu-name {
  padding-top: 10px;
  padding-left: 20px;
  font-size: 18px; }

.nav__user-menu-email {
  padding-bottom: 5px;
  padding-left: 20px;
  font-size: 12px; }

.nav__user-menu-section-title {
  padding: 5px 0px 5px 20px;
  font-size: 12px;
  color: grey; }

.nav__user-menu-section-item-wrapper {
  width: 100%; }

.nav__user-menu-section-item-wrapper:hover, .nav__user-menu-section-item-wrapper:active {
  cursor: pointer;
  background-color: #454646; }

.nav__user-menu-section-item {
  padding: 5px 0px 5px 20px;
  font-size: 14px; }

.nav__user-menu-section-break {
  width: 100%;
  height: 28px; }

.nav__user-menu-section-break-half {
  width: 100%;
  height: 10px; }
  
.nav__user-menu-section-break-small {
  height: 8px; }
  
.nav__btn {
  position: relative;
  float: right; }
  
.nav__btn-highlighted {
  background-color: #525252; }
  
.nav__btn--notification {
  background-color: #dc172a; }
  
.nav__btn--notification:hover {
  background-color: #e74d59; }

.nav__brand-left-menu {
  left: 37px; }
  
.btn--submit {
  float: right; }
  
.btn--secondary--delete {
  float: left;
  color: #c41121;
  border-color: #c41121; }

.btn--secondary--delete:hover, .btn--delete:focus, .btn--delete:active{
  color: #ab0c17;
  border-color: #ab0c17; }

.icon--back{
  fill: #00a6fb;
  width: 40px;
  height: 40px;
  margin-left: 12px; }

.icon--back:hover, .icon--back:active, .icon--back:focus {
  fill: #004999; }

.davis-logo {
  display: block;
  vertical-align: middle;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 40px; }
  
.disable-screen {
  position: fixed;
  top: 44px;
  left: 0;
  z-index: 999;
  width: 100%;
  height: calc(100% - 44px);
  background-color: rgba(0, 0, 0, 0.3); }

.disable-screen-image {
  background-color: rgba(0, 0, 0, 0.8); }
  
/* Input field with inline button */
.input-button-wrapper {
  width: 100%;
  height: 32px;
  padding-left: 11px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: white; }
  
.input-button-wrapper:hover {
  border-color: #a0a0a0; }

.input-button-wrapper-focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(204, 204, 204, 0.8); }
  
.input-button-wrapper-disabled {
  background-color: #f2f2f2;
  color: #cccccc; }

.input-button-wrapper-disabled:hover {
  border-color: #cccccc; }

input[type=text].input-button-input, input[type=email].input-button-input, input[type=password].input-button-input {
  float: left;
  border-width: 0;
  width: calc(100% - 30px);
  height: 30px;
  font-size: 14px;
  font-family: "BerninaSans", "Open Sans", sans-serif;
  color: #454646;
  padding: 0; }

input[type=text].input-button-input:focus, input[type=email].input-button-input:focus, input[type=password].input-button-input:focus {
	outline: none;
	border-width: 0; } 
	
input[type=text].input-button-input[disabled], input[type=email].input-button-input[disable], input[type=password].input-button-input[disabled] {
  background-color: #f2f2f2;
  color: #cccccc; }

.input-button-button {
  float: right;
  width: 30px;
  height: 30px;
  cursor: pointer; }

.input-button-img {
  float: right;
  width: 20px;
  height: 20px;
  margin: 5px 0px;
  opacity: 1.0; }

.input-button-img-password-masked {
  opacity: 0.3; }
  
.inputfield {
  text-overflow: ellipsis; }
  
input:invalid {
  box-shadow: none; }
    
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset; }
  
input::-ms-clear {
  display: none; }

input[type=text].input-button-input:-ms-input-placeholder, 
input[type=email].input-button-input:-ms-input-placeholder, 
input[type=password].input-button-input:-ms-input-placeholder {
   color: #cccccc; }
   
.error {
  background-color: #fdb8b8; }
  
.select[disabled] {
  background-color: #f2f2f2;
  color: #ccc; }
  
.select[disabled]:hover {
  border-color: #ccc;
  cursor: default;
}

.select:active {
  background-image: url(//assets.dynatrace.com/groundhog/v0.1.0/assets/images/icons/icons_file_002_dropdownclosed_downwards.svg); }
  
/* Checkbox */
.checkbox__caption {
  vertical-align: top; }

.checkbox--admin {
  min-height: 48px; }
  
.checkbox--row {
  margin-bottom: 6px; }
  
.checkbox--section-title {
  font-size: 12px;
  padding-bottom: 6px; }

/* Switch */
.switch__caption {
  vertical-align: top; }
  
/* Scrollbar */
::-webkit-scrollbar {
  width: 4px;
  height: 4px; }

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px; }

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border: 0px none #ffffff;
  border-radius: 50px; }

::-webkit-scrollbar-thumb:hover {
  background: #ffffff; }

::-webkit-scrollbar-thumb:active {
  background: #ffffff; }

::-webkit-scrollbar-track {
  border: 0px none #ffffff;
  border-radius: 50px;
  background-color: transparent; }

::-webkit-scrollbar-corner {
  background: transparent; }
  
.scroll-to-bottom-button {
  position: fixed;
  right: 10px;
  bottom: 50%;
  z-index: 1003;
  width: 35px;
  height: 35px;
  border-radius: 3px;
  background-color: black;
  opacity: 0.4; 
  cursor: pointer; }
  
.scroll-to-bottom-button:hover {
  opacity: 0.6; }

.icon--scroll-to-bottom {
  width: 30px;
  height: 30px;
  margin: 2px auto;
  display: block; }
  
/* Error message styling */
.island--error-container {
  overflow: auto; }
  
.island--error.island--error-container {
  padding: 8px 11px;
  margin: 0px auto 10px auto; }
  
.island--error.island--user-accounts-error-fix {
  margin: -23px 0px 32px 0px;
  padding: 16px; }

.island--error-text {
  float: left; 
  width: calc(100% - 20px); 
  font-size: 14px; }

.island--error-button {
  float: right;
  width: 14px;
  height: 14px;
  padding-top: 1px; }

.icon--error-button {
  width: 20px;
  height: 20px; 
  opacity: 0.3;
  cursor: pointer; }
  
.icon--error-button:hover {
  opacity: 1.0; }
  
/* Small screen size */
@media (max-width: 500px) {
  .card-field.card-field-short {
    width: auto; } }

/* Small screen size */
@media (max-width: 599px) {
  
  .davis-card svg {
    height: 130px; }
  
  .scroll-to-bottom-button {
    right: 10px;
    bottom: 60%; }
  
  .davis-logo {
    width: 396px;
    height: auto; }
  
  .island--half--left {
    margin: 0; }
    
  .layout--half--small.layout--half {
    flex-basis: 50%; } 
    
  .layout--two-thirds {
    flex-basis: 100%; }
  
  .layout--third {
    flex-basis: 100%; } }

/* Button Colors */
.btn--warning {
  border-color: #d3571a;
  background-color: #d3571a; }

.btn--warning:hover, .btn--warning:focus {
  border-color: #b64915;
  background-color: #b64915; }

.btn--warning:active {
  border-color: #92380e;
  background-color: #92380e; }
  
/* Unordered list */
.list li:before {
  margin-top: 0.5em; }
  
/* Sidebar */
.sidebar__item {
  cursor: pointer;  }
  
.expandable__trigger.closed {
  background-color: #f2f2f2; }
  
.connected {
  font-size: 12px;
  color: #cccccc;
  margin: 20px; }
  
.connected a {
  color: #cccccc; }
  
.connected a:hover {
  color: #00a1b2; }
  
.connected-card {
  margin: 10px; }
  
.connected-card a {
  color: #cccccc; }
  
.connected-card a:hover {
  color: #004999; }

/* Text */
.text--warning {
  color: #ef651f; }

/* Table */
.table tr:first-child:hover td, .table tr:nth-child(n):hover td{
  cursor: pointer;
  background-color: #e0f4fc; }
  
.entities {
  table-layout: fixed; }
  
.entity-name-column {
  word-wrap: break-word;
  width: 60%; }
  
.entity-id-column {
  word-wrap: break-word;
  width: 30%; }
  
.entity-edited-column {
  word-wrap: break-word;
  width: 10%; }
  
.entity-title {
  margin-top: 8px;
  float: left;
  text-align: center;
  width: calc(100% - 80px);
  max-width: 520px; }
  
/* Trumps */
@media (min-width: 755px) {
  .hide-lg {
    display: none; } }
    
@media (max-width: 754px) {
  .hide-sm {
    display: none; } }
    
@media (min-width: 700px) {
  .island--connected {
    margin-left: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-right: 12px;
    width: inherit; } }
    
@media (min-width: 755px) {
  .island--connected {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 24px;
    margin-right: 24px;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
    width: 50%; } }
    
/* Loading */
.loading {
  height: 332px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }
    
/* Spinner */
.spinner {
  margin: 0 auto;
  width: 80px;
  height: 80px;
  -webkit-animation: rotate-all 1s linear infinite;
  animation: rotate-all 1s linear infinite; }

.right-side, .left-side {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  overflow: hidden; }

.right-side {
  right: 0; }

.bar {
  width: 100%;
  height: 100%;
  border-radius: 200px 0 0 200px;
  border: 4px solid #898989;
  position: relative; }
  
.right-side .bar {
  border-radius: 0 200px 200px 0;
  border-left: none;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-animation: rotate-right 0.75s linear infinite alternate;
          animation: rotate-right 0.75s linear infinite alternate; }
          
.left-side .bar {
  border-right: none;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  -webkit-transform-origin: right center;
          transform-origin: right center;
  -webkit-animation: rotate-left 0.75s linear infinite alternate;
          animation: rotate-left 0.75s linear infinite alternate; }

.green {
  border-color: #B2CC21; }

@-webkit-keyframes rotate-left {
  to {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg); }
  from {
    -webkit-transform: rotate(-175deg);
            transform: rotate(-175deg); } }

@keyframes rotate-left {
  to {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg); }
  from {
    -webkit-transform: rotate(-175deg);
            transform: rotate(-175deg); } }
            
@-webkit-keyframes rotate-right {
  from {
    -webkit-transform: rotate(175deg);
            transform: rotate(175deg); }
  to {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg); } }
            
@keyframes rotate-right {
  from {
    -webkit-transform: rotate(175deg);
            transform: rotate(175deg); }
  to {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg); } }
            
@-webkit-keyframes rotate-all {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
            
@keyframes rotate-all {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
            
/* Chat styling */
.island--davisInput {
  position: fixed; 
  z-index: 106;
  bottom: 0; 
  padding: 0; 
  margin: 0;
  background-color: white;  }

.island--davisInput-border {
  border: 1px solid #ececec;
  border-bottom: 0;
  padding: 0px 8px 8px 8px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.island--davisInput-border-full-width {
  background: none;
  border-top: 2px solid #f8f8f8;
  border-bottom-left-radius: 0; 
  border-bottom-right-radius: 0; }
  
.layout.is-flex.is-flex--compact {
  padding: 0; }
  
.layout.has-islands {
  padding: 16px 8px; }
  
.label--compact { 
  padding-top: 3px;
  padding-bottom: 1px; }

.icon--davis {
  margin-top: -3px;
  width: 30px; 
  height: 30px; }
  
.icon--dynatrace-signet {
  width: 36px;
  height: 36px;
  margin-top: -2px; }
  
.icon--notification {
  width: 25px;
  height: 25px;
  margin-top: -1px; }

.island--isDavis {
  background-color: white; }

.island--isUser {
  font-size: 14px;
  background-color: #e0f4fc; }
  
.island--error {
  padding: 16px;
  margin: 12px 0px;
  max-width: 600px;
  background-color: #fdb8b8; }
  
.timebreak {
  width: 100%; }
  
.timebreak-text {
  font-size: 12px;
  color: #b7b7b7;
  width: 100%;
  height: 25px;
  max-width: 500px;
  margin: 15px auto 70px auto;
  text-align: center;
  border-bottom: 1px solid #b7b7b7; }

.expandable__trigger {
  cursor: pointer; }
  
.card-close-button {
  position: absolute;
  top: 5px;
  right: 0px;
  background: transparent;
  border: 0;
  outline: 0; 
  cursor: pointer; }
  
.card-close-button-error {
  position: absolute;
  top: 16px; }
  
.icon--close {
  width: 25px;
  height: 25px;
  fill: #f2f2f2; }
  
.card-close-button:hover .icon--close {
  fill: #cccccc; }
  
.icon--close-error {
  width: 25px;
  height: 25px;
  fill: white; }
  
.card-close-button:hover .icon--close-error {
  fill: #e6e6e6; }
  
.card-image-url {
  position: relative;
  clear: both;
	float: left;
	margin: 5px 10px 5px 0px;
	cursor: pointer; }
	
.card-image-url-fullscreen {
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100000;
  width: calc(100% - 20px);
  padding: 5px;
  background-color: white;
  cursor: pointer; }
  
.card-image-url-fullscreen-close-btn {
  margin: auto;
  position: fixed;
  left: calc(50% - 10px);
  bottom: 10%;
  z-index: 100001;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #6d6d6d;
  opacity: 0.6; }
  
.card-image-url-fullscreen-close-btn:hover {
  opacity: 0.8;
}
  
.card-image-url-fullscreen-close-btn .icon--error-button {
  fill: white;
  width: 60px;
  height: 60px; }

.card-thumb-url-wrapper {
	display: table-cell;
	width: 25%;
	height: 100%;
	vertical-align: middle;
	padding-left: 5px; }

.card-thumb-url {
	position: relative;
	float: right;
	min-width: 30px;
	max-height: 75px; }

.card-content-with-thumb-url {
  width: 75%; }

.circle-left {
  position: absolute;
  z-index: 102;
  margin-top: -23px;
  margin-left: -7px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #00a1b2;
  color: white;
  font-size: 16px;
  padding-top: 7.5px;
  text-align: center; }
  
.circle-left-notification:hover.circle-left-notification-interactive {
  cursor: pointer;
  background-color: #006f77; }

.icon--notification-show {
  display: none; }

.circle-left-notification:hover .icon--notification-hide {
  display: none; }

.circle-left-notification:hover .icon--notification-show {
  display: inline-block;
  margin-top: 0px; }
  
@-webkit-keyframes pulsate-resolved {
  0%   {background-color: #00a1b2;}
  50%  {background-color: #7dc540;}
  100% {background-color: #00a1b2;} }
  
@keyframes pulsate-resolved {
  0%   {background-color: #00a1b2;}
  50%  {background-color: #7dc540;}
  100% {background-color: #00a1b2;} }
  
.circle-left-notification-resolved {
  -webkit-animation: pulsate-resolved 1.5s 3 ease-in-out;
  animation: pulsate-resolved 1.5s 3 ease-in-out;
  background-color: #00a1b2; }

@-webkit-keyframes pulsate-unresolved {
  0%   {background-color: #00a1b2;}
  50%  {background-color: #dc172a;}
  100% {background-color: #00a1b2;} }
  
@keyframes pulsate-unresolved {
  0%   {background-color: #00a1b2;}
  50%  {background-color: #dc172a;}
  100% {background-color: #00a1b2;} }
  
.circle-left-notification-unresolved {
  -webkit-animation: pulsate-unresolved 1.5s 3 ease-in-out;
  animation: pulsate-unresolved 1.5s 3 ease-in-out;
  background-color: #00a1b2; }
  
.triangle-left {}

.triangle-left-border {}

.circle-right {
  position: absolute;
  z-index: 102;
  margin-top: -23px;
  margin-left: calc(100% - 32px);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #6d6d6d;
  color: white;
  font-size: 16px;
  padding-top: 8.5px;
  text-align: center; }
  
.triangle-right {}

.triangle-right-border {}

@media (min-height: 700px) and (min-width: 755px) {
  .connected-sidebar {
    position: absolute;
    margin: 0;
    bottom: 20px;
    left: 20px;
    width: 270px; } }
    
@media (min-width: 755px) {
  
  .card-image-url-fullscreen {
    width: calc(100% - 200px); }
  
  .sidebar-sm {
    width: 284px;
    flex: 0px 0px 284px; }
    
  .nav__brand-left-menu {
    left: 0.75rem; }
  
  .breadcrumbs {
    display: flex; }
    
  .breadcrumbs--spacer {
    height: 74px; }
    
  .chat-spacer {
    width: 100%; 
    height: 125px; }
    
  .island--global-error {
    top: 74px; }
  
  .island--davisInput {
    background-color: transparent;  }
    
  .island--center.island--center-davisInput {
    max-width: 600px; }
  
  .island--davisInput-border {
    padding: 16px;
    padding-bottom: 30px;
    border-top: 2px solid #f8f8f8; }
  
  .island--davisInput-border-full-width {
    border-top: 0; }
    
  .layout.is-flex.isflex--compact {
    padding: initial; }
    
  .layout.has-islands {
    padding: 12px; }
  
  .label--compact { 
    padding-top: initial;
    padding-bottom: 6px; }
  
  .icon--davis {
    margin-top: -1px;
    width: 40px; 
    height: 40px; }
    
  .icon--dynatrace-signet {
    margin-top: -1px;
    width: 50px; 
    height: 50px; }
    
  .icon--notification {
    width: 35px;
    height: 35px;
    margin-top: 1px; }

  .circle-left {
    position: absolute; 
    margin-top: 1px; 
    margin-left: -72px; 
    z-index: 102;
    width: 56px; 
    height: 56px; 
    font-size: 25px; 
    padding-top: 9px; }
    
  .circle-left-notification:hover .icon--notification-show {
    margin-top: 2px; }
    
  .triangle-left {
    position: absolute;
    z-index: 100;
    width: 0;
  	height: 0;
  	margin-top: 19px;
  	margin-left: -9px;
  	border-top: 10px solid transparent;
  	border-bottom: 10px solid transparent;
  	border-right: 10px solid white; }
  	
  .triangle-left-error {
    position: absolute;
    z-index: 100;
    width: 0;
  	height: 0;
  	margin-top: 19px;
  	margin-left: -9px;
  	border-top: 10px solid transparent;
  	border-bottom: 10px solid transparent;
  	border-right: 10px solid #fdb8b8; }
  	
  .triangle-left-border {
    position: absolute;
    z-index: 98;
    width: 0;
  	height: 0;
  	margin-top: 19px;
  	margin-left: -10px;
  	border-top: 10px solid transparent;
  	border-bottom: 10px solid transparent;
  	border-right: 10px solid #ececec; }
    
  .circle-right {
    position: absolute; 
    margin-top: 1px; 
    margin-left: 616px; 
    width: 56px; 
    height: 56px; 
    font-size: 25px; 
    padding-top: 9px; }
    
  .triangle-right {
    position: absolute;
    z-index: 100;
    width: 0;
  	height: 0;
  	margin-top: 19px;
  	margin-left: 599px;
  	border-top: 10px solid transparent;
  	border-bottom: 10px solid transparent;
  	border-left: 10px solid #e0f4fc; }
  	
  .triangle-right-border {
    position: absolute;
    z-index: 98;
    width: 0;
  	height: 0;
  	margin-top: 19px;
  	margin-left: 600px;
  	border-top: 10px solid transparent;
  	border-bottom: 10px solid transparent;
  	border-left: 10px solid #ececec; } }
  	
@media (min-width: 790px) {
  
  .scroll-to-bottom-button {
    right: 30px;
    bottom: 30px; } }
    
form.card-form {
  min-height: 0; }
  
/* Card styling */
.card-pretext {
	margin-left: 10px; }
	
.card-footer {
  margin-top: 5px;
	color: #b7b7b7; }

.card-attachments {
	float: right;
	width: 100%;
	margin: 0 auto;
	color: #666666;
	text-align: left;
	font-size: 12px;
	border: 1px solid white;
	background-color: white;
	border-radius: 2px; }

.card-attachment {
	float: left;
	width: 100%;
	padding: 0px 10px 0px 0px;
	margin: 2px 0px; }

.card-bar {
	display: table-cell;
	border: 2px solid #e6e6e6;
	border-radius: 2px; }

.card-content {
	display: table-cell;
	padding-left: 10px;
	vertical-align: top; }

.card-content-text-only {
  padding-left: 0px;
  margin: 0px 0px 0px -2px; }

.card-title {
	float: left;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold; }

.card-text {
  font-size: 14px;
	clear: both; }

.card-fields {
	clear: both;
	float: left;
	margin-top: 2px; }

.card-field {
	float: left;
	width: 100%;
	margin-bottom: 2px;
	margin-right: 10px; }
	
.card-field-wrap {
  clear: both; }
  
.card-field-many-rows {
  margin-bottom: 10px; }

.card-field-title {
	font-weight: bold;}
	
.card-actions {
  float: left;
  padding: 5px 0px; }

.card-action {
  float: left;
  margin: 2.5px 5px 2.5px 0px; }
	
.card-timestamp {
  clear: both;
  margin-top: 3px;
  font-size: 10px;
  color: #b7b7b7; }
  
.card-timestamp-user {
  float: right;
  margin-right: 3px; }
  
.card-timestamp-davis {
  float: right;
  margin-right: 3px; }
  
.root-cause {
  display: inline-block;
  vertical-align: text-top;
  padding: 2px 4px;
  margin-bottom: 5px;
  margin-left: 5px;
  border-radius: 3px;
  font-size: 10px;
  color: white;
  background-color: #d3571a; }

.scope-tag {
  display: inline-block;
  vertical-align: text-top;
  padding: 0px 6px;
  margin: 5px 5px 5px 0px;
  border-radius: 3px;
  font-size: 9px;
  color: #898989;
  border: 1px solid #898989; }

.scope-tag-enabled {
  border-color: transparent;
  background-color: #00a1b2;
  color: white; }

/* Tags */
.tag {
  float: left;
  margin: 3px 5px 3px 0px; }
  
.tag:hover {
  background-color: #e6e6e6; }
  
.tag-empty, .tag-empty:hover {
  cursor: text;
  border: 0;
  background-color: transparent; }
  
.tag-no-value, .tag-no-value:hover {
  border: 1px solid #dadada;
  background-color: transparent; }

.tags-wrapper {
  display: inline-block;
  cursor: text;
  width: 100%;
  min-height: 32px;
  padding-left: 6px;
  background-color: white;
  border: 1px solid #cccccc;
  border-radius: 3px; }
  
.tags-wrapper:hover {
  border-color: #a0a0a0; }
  
.tags-wrapper-focused, .tags-wrapper-focused:hover {
  outline: none;
  box-shadow: 0 0 0 2px rgba(204, 204, 204, 0.8); }

.tag-list {
  position: absolute;
  top: 22px;
  z-index: 900;
  max-width: 300px;
  max-height: 200px;
  overflow: auto;
  background-color: white;
  border: 1px solid #cccccc;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  font-size: 12px; }
  
.tag-list-keys {
  left: 10px; }
  
.tag-list-values {
  left: 50%; }

.tag-list-item {
  cursor: pointer;
  padding: 4px 8px;
  text-align: left; }

.tag-list-item:hover, .tag-list-item-highlighted {
  background-color: #e1f7f9; }

.tag__key, .tag__value {
  cursor: text;
  font-size: 12px; }

.tag-span {
  display: inline-block; 
  cursor: text;
  min-width: 20px;
  height: 22px;
  line-height: 22px;
  vertical-align: text-bottom; }
  
.tag-input {
  font-weight: inherit;
  font-family: inherit;
  background: none;
  border: 0px;
  outline: 0px;
  min-width: 20px;
  height: 22px;
  line-height: 22px;
  vertical-align: text-bottom;
  width: 84px; }
  
.tag-input-generic {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px; }
  
.tag__delete {
  vertical-align: baseline; }
  
.timezone-input-wrapper {
  position: relative; }
  
.timezones-list {
  width: 100%;
  max-height: 180px;
  top: 31px;
  left: 0px; }
  
.timezones-list-item {
  padding: 6px 8px;
  height: 30px; }
  
.display-none {
  display: none; }
  
.position-off-screen {
  position: fixed;
  left: -1200px; }

a:hover .root-cause {
  text-decoration: none;
}

a:hover .root-cause:hover {
  background-color: #92380e;
}

a:hover .root-cause {
  text-decoration: none;
}

.island--error-text a {
  font-weight: bold;
  color: #454646; }

.island--error-text a:hover {
  cursor: pointer;
  color: black; }
  
.island--error-text .btn--secondary:hover {
  background-color: #ffeae8; }

/* Typing indicator */
.typing-indicator {
  padding: 0;
  display: table;
  margin: 0 auto;
  margin-top: 4px;
  position: relative; 
  float: left ; }

.typing-indicator span {
  height: 14px;
  width: 14px;
  float: left;
  margin: 0 1px;
  background-color: #00a1b2;
  display: block;
  border-radius: 50%;
  opacity: 0.4;
}

.typing-indicator span:nth-of-type(1) {
  -webkit-animation: 1s blink infinite 0.3333s;
          animation: 1s blink infinite 0.3333s;
}
.typing-indicator span:nth-of-type(2) {
  -webkit-animation: 1s blink infinite 0.6666s;
          animation: 1s blink infinite 0.6666s;
}
.typing-indicator span:nth-of-type(3) {
  -webkit-animation: 1s blink infinite 0.9999s;
          animation: 1s blink infinite 0.9999s;
}

.typing-indicator-centered {
  position: absolute; 
  top: 45%; 
  left: calc(50% - 24px);
  margin: 0;
}

@-webkit-keyframes blink {
  50% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}

/* Card animations */
.card-push-animation {
  /* animation: push 0.5s; */
}

@keyframes push {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1.0;
  } 
}