<div class="page">
    <div *ngIf="iDavis.isWizard" class="step">
        Step 3 of 4
    </div>
    <div *ngIf="iDavis.isWizard" class="title">
        Connect to Amazon Alexa
    </div>
    <div class="content">
        <form (ngSubmit)="doSubmit()" #form="ngForm">
            <section *ngIf="iDavis.config['user'].success === false" class="flex-container">
                <div class="flex-item full-width error">
                    {{iDavis.config['alexa'].error}}
                </div>
            </section>
            <section class="flex-container">
                <div class="flex-item full-width">
                    <label>Alexa User ID</label>
                    <input type="text" name="alexa"
                        [(ngModel)]="iDavis.values.user.alexa_ids"
                        (keyup)="validate()"
                        [required]="(submitButton === 'Save') ? '' : null">
                </div>
            </section>
            <section class="flex-container">
                <div class="flex-item next">
                    <a href="https://github.com/Dynatrace/davis-server/wiki/Setup%20Alexa" target="_blank" class="docs-link">{{ iDavis.helpLinkText }}</a>
                    <button type="submit" class="content-save-button"
                        [class.warning]="submitButton === 'Skip'"
                        [attr.disabled]="(!form.valid || submitButton === 'Saving...' || (!isDirty && !iDavis.isWizard)) ? true : null">
                        {{ submitButton }}
                    </button>
                </div>
            </section>
        </form>
    </div>
</div>
