<form (ngSubmit)="doSubmit()" #form="ngForm">
  <div class="layout is-flex has-islands">
    <div class="island island--center" style="padding: 16px; min-height: 600px">
    </div>
  </div>
  <div class="layout is-flex has-islands">
    <div class="island island--center" style="padding: 16px">         
      <label for="davisInput" class="label">
        Chat Mode
      </label>
      <div class="input-button-wrapper" [class.input-button-wrapper-focus]="isDavisInputFocused">
        <input type="text" id="davisInput" name="davisInput" class="input-button-input" 
          ngModel
          (focus)="isDavisInputFocused = true" (blur)="isDavisInputFocused = false">
        
        <div class="input-button-button">
          <svg class="icon icon--black icon--input-button-img" [class.input-button-img-password-masked]="!isDavisInputFocused">
            <use xlink:href="#mic"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</form>