<form (ngSubmit)="doSubmit()" #form="ngForm">
<div class="layout is-flex has-islands">
  <div *ngIf="iDavis.isWizard || isMyUser" class="island--full-width" 
    [class.island--full-width-sidebar]="!iDavis.isWizard">
    <div class="config-title">
      {{ (iDavis.isWizard) ?  'Create Administrator Account' : 'My Account' }}
    </div>
    <div *ngIf="iDavis.isWizard" class="wizard-step-number">
      Step 2 of 4
    </div>
    <a href="https://github.com/Dynatrace/davis-server/wiki/Getting%20Started" target="_blank" class="config-help">
      {{ iDavis.helpLinkText }}
    </a>
  </div>
  <div *ngIf="iDavis.config['user'].success === false" class="island--full-width island--error" 
    [class.island--full-width-sidebar]="!iDavis.isWizard" 
    [class.island--user-accounts-error]="!isMyUser">
    {{ iDavis.config['user'].error }}
  </div>
  <div class="island--full-width" [class.island--full-width-sidebar]="!iDavis.isWizard">
    <div class="island island--center" 
      [class.island--left]="!iDavis.isWizard" 
      [class.island--user-accounts]="!iDavis.isWizard && !isMyUser" 
      [class.island--my-account]="!iDavis.isWizard && isMyUser">
      <div class="layout is-flex has-islands island--half">
        <div class="layout__container layout--half">
          <div class="island island--half island--half--left">
            <label for="first" class="label">
              First Name
            </label>
            
            <!-- isMyUser -->
            <input type="text" name="first"
              class="inputfield" id="first"
              *ngIf="isMyUser"
              [(ngModel)]="iDavis.values.user.name.first" 
              (keyup)="validate()" required>
              
             <!-- !isMyUser -->
            <input type="text" name="first" 
              class="inputfield" id="first"
              *ngIf="!isMyUser"
              [(ngModel)]="iDavis.values.otherUser.name.first" 
              (keyup)="validate()" required>
          </div>
        </div>
        <div class="layout__container layout--half">
          <div class="island island--half island--half--right">
            <label for="last" class="label">
              Last Name
            </label>
            
            <!-- isMyUser -->
            <input type="text" name="last" 
              class="inputfield" id="last"
              *ngIf="isMyUser"
              [(ngModel)]="iDavis.values.user.name.last" 
              (keyup)="validate()" required>
                
            <!-- !isMyUser -->
            <input type="text" name="last"
              class="inputfield" id="last"
              *ngIf="!isMyUser"
              [(ngModel)]="iDavis.values.otherUser.name.last" 
              (keyup)="validate()" required>
          </div>
        </div>
      </div>
      <div class="island island--full" *ngIf="iDavis.isWizard || !isMyUser">
        <label for="email" class="label">
          Email
        </label>
        <!-- isMyUser -->
        <input type="email" name="email" 
          class="inputfield" id="email"
          *ngIf="isMyUser"
          [(ngModel)]="iDavis.values.user.email" 
          (keyup)="validate()" 
          [attr.disabled]="(iDavis.isWizard) ? null : ''" required>
            
        <!-- !isMyUser -->
        <input type="email" name="email" 
          class="inputfield" id="email"
          *ngIf="!isMyUser"
          [(ngModel)]="iDavis.values.otherUser.email" 
          (keyup)="validate()"
          [attr.disabled]="(isNewUser) ? null : ''" required>
      </div>
      <div class="layout is-flex has-islands island--half">
        <div class="layout__container layout--half">
          <div class="island island--half island--half--left">
            <label for="password" class="label">
              {{ (iDavis.isWizard || isNewUser) ? '' : 'Change ' }}Password
            </label>
            <div class="input-button-wrapper" [class.input-button-wrapper-focus]="isPasswordFocused">
              
                <!-- isMyUser -->
                <input *ngIf="isPasswordMasked && isMyUser" type="password" name="password" id="password" class="input-button-input" 
                    [(ngModel)]="iDavis.values.user.password" 
                    (focus)="isPasswordFocused = true" (blur)="isPasswordFocused = false" (keyup)="validate()"
                    [required]="(iDavis.isWizard) ? '' : null">
                <input *ngIf="!isPasswordMasked && isMyUser" type="text" name="passwordText" id="password" class="input-button-input" 
                    [(ngModel)]="iDavis.values.user.password" (focus)="isPasswordFocused = true" (blur)="isPasswordFocused = false" (keyup)="validate()"
                    [required]="(iDavis.isWizard) ? '' : null">
                    
                <!-- !isMyUser -->
                <input *ngIf="isPasswordMasked && !isMyUser" type="password" name="password" id="password" class="input-button-input" 
                    [(ngModel)]="iDavis.values.otherUser.password" 
                    (focus)="isPasswordFocused = true" (blur)="isPasswordFocused = false"(keyup)="validate()"
                    [required]="(isNewUser) ? '' : null">
                <input *ngIf="!isPasswordMasked && !isMyUser" type="text" name="passwordText" id="password" class="input-button-input" 
                    [(ngModel)]="iDavis.values.otherUser.password" 
                    (focus)="isPasswordFocused = true" (blur)="isPasswordFocused = false" (keyup)="validate()"
                    [required]="(isNewUser) ? '' : null">
                
                <div class="input-button-button" (click)="isPasswordMasked = !isPasswordMasked">
                  <svg class="icon icon--black icon--input-button-img" [class.input-button-img-password-masked]="isPasswordMasked">
                    <use xlink:href="#eye"></use>
                  </svg>
                </div>
            </div>
          </div>
        </div>
        <div class="layout__container layout--half">
          <div class="island island--half island--half--right">        
            <label for="timezone" class="label">
              Timezone
            </label>
            
            <!-- isMyUser -->
            <select *ngIf="isMyUser" name="timezone" 
              [(ngModel)]="iDavis.values.user.timezone"
              (ngModelChange)="onTimezoneChange($event); validate()"
              [class.select-opened]="isSelectOpened" 
              (click)="isSelectOpened = !isSelectOpened" 
              (blur)="isSelectOpened = false;" required>
              <option *ngFor="let tz of iDavis.timezones" [value]="tz">{{tz}}</option>
            </select>
            
             <!-- !isMyUser -->
            <select *ngIf="!isMyUser" name="timezone" 
              [(ngModel)]="iDavis.values.otherUser.timezone" 
              (ngModelChange)="onTimezoneChange($event); validate()"
              [class.select-opened]="isSelectOpened" 
              (click)="isSelectOpened = !isSelectOpened" 
              (blur)="isSelectOpened = false;" required>
              <option *ngFor="let tz of iDavis.timezones" [value]="tz">{{tz}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="layout is-flex has-islands island--half">
        <div class="layout__container layout--half layout--half--small" [class.checkbox--admin]="!iDavis.isWizard && iDavis.isAdmin">
          <div class="island island--half island--half--left" style="padding-top: 14px;" *ngIf="!iDavis.isWizard && iDavis.isAdmin">  
          
            <!-- isMyUser -->
            <input type="checkbox" class="checkbox" id="admin" name="admin"
              [(ngModel)]="iDavis.values.user.admin"
              [disabled]="true"
              *ngIf="isMyUser"
              (change)="validate()">
                
            <!-- !isMyUser -->
            <input type="checkbox" class="checkbox" id="admin" name="admin"
              [(ngModel)]="iDavis.values.otherUser.admin"
              *ngIf="!isMyUser"
              (change)="validate()">
              
            <label for="admin" class="checkbox__label">
              <span class="checkbox__caption">Administrator</span>
            </label>
          </div>
        </div>
        <div class="layout__container layout--half layout--half--small">
          <div class="island island--half island--half--right" 
            *ngIf="detectedTimezone && ((isMyUser && iDavis.values.user.timezone != detectedTimezone) 
              || (!isMyUser && iDavis.values.otherUser.timezone != detectedTimezone))">                 
            <button type="button" class="btn btn--secondary btn--submit"
                (click)="(isMyUser) ? iDavis.values.user.timezone = detectedTimezone : iDavis.values.otherUser.timezone = detectedTimezone; validate()">
                Detect Timezone
            </button>
          </div>
        </div>
      </div>
      <div class="island island--full" *ngIf="!iDavis.isWizard">          
        <label for="alexa" class="label">
          Alexa User ID
        </label>
        
        <!-- isMyUser -->
        <input type="text" class="inputfield" id="alexa" name="alexa" 
            *ngIf="isMyUser"
            [(ngModel)]="iDavis.values.user.alexa_ids"
            (keyup)="validate()">
            
        <!-- !isMyUser -->
        <input type="text" class="inputfield" id="alexa" name="alexa" 
            *ngIf="!isMyUser"
            [(ngModel)]="iDavis.values.otherUser.alexa_ids"
            (keyup)="validate()">
      </div>
      <div class="island island--full" *ngIf="!iDavis.isWizard && !isMyUser && iDavis.isAdmin && !isNewUser">
        <button type="button" class="btn btn--secondary btn--secondary--delete"
            [attr.disabled]="(isMyUser) ? true : null"
            (click)="deleteUser(iDavis.values.otherUser.email)">
            {{ (confirmDeleteUser) ? 'Confirm Delete User' : 'Delete User' }}
        </button>
      </div>
      <div class="island island--center island--submit">
        <button type="submit" class="btn btn--primary btn--submit"
            [attr.disabled]="(!form.valid || submitButton === 'Saving...' || !isDirty) ? true : null">
            {{ submitButton }}
        </button>
      </div>
    </div>
  </div>
</div>
</form>
   
