<button type="button" class="log-out config" *ngIf="showConfigureButton" (click)="showConfigureButton = false; iDavis.titleGlobal = 'Configure Davis'">Configure</button>
<div class="navbar-wrapper" *ngIf="!showConfigureButton">
    <div class="navbar-button" [class.navbar-button-selected]="iConfig.view === 'user'" (click)="iConfig.SelectView('user')">
        My Account
    </div>
    <div class="navbar-button" *ngIf="iDavis.isAdmin" [class.navbar-button-selected]="iConfig.view === 'users'" (click)="iConfig.SelectView('users')">
        User Accounts
    </div>
    <div class="navbar-button" *ngIf="iDavis.isAdmin" [class.navbar-button-selected]="iConfig.view === 'dynatrace'" (click)="iConfig.SelectView('dynatrace')">
        Dynatrace
    </div>
    <div class="navbar-button" *ngIf="iDavis.isAdmin" [class.navbar-button-selected]="iConfig.view === 'slack'" (click)="iConfig.SelectView('slack')">
        Slack App
    </div>
</div>
<config-user *ngIf="iConfig.view === 'user' && !showConfigureButton" [isNewUser]="false" [isMyUser]="true"></config-user>
<config-users *ngIf="iConfig.view === 'users'"></config-users>
<config-dynatrace *ngIf="iConfig.view === 'dynatrace'"></config-dynatrace>
<config-slack *ngIf="iConfig.view === 'slack'"></config-slack>