<div class="layout is-flex">
  <nav class="sidebar hide-sm" [class.hide-sm]="!iDavis.isSidebarVisible">
    <a class="sidebar__item" [class.is-active]="iConfig.view === 'user'" (click)="iConfig.SelectView('user'); iDavis.isSidebarVisible = false">
      <span class="sidebar__headline">My Account</span>
    </a>
    <a *ngIf="iDavis.isAdmin" class="sidebar__item" [class.is-active]="iConfig.view === 'users'" (click)="iConfig.SelectView('users'); iDavis.isSidebarVisible = false">
      <span class="sidebar__headline">User Accounts</span>
    </a>
    <a *ngIf="iDavis.isAdmin" class="sidebar__item" [class.is-active]="iConfig.view === 'dynatrace'" (click)="iConfig.SelectView('dynatrace'); iDavis.isSidebarVisible = false">
      <span class="sidebar__headline">Dynatrace</span>
    </a>
    <a *ngIf="iDavis.isAdmin" class="sidebar__item" [class.is-active]="iConfig.view === 'slack'" (click)="iConfig.SelectView('slack'); iDavis.isSidebarVisible = false">
      <span class="sidebar__headline">Slack App</span>
    </a>
    <a *ngIf="!iDavis.isChromeExtensionInstalled" class="sidebar__item" [class.is-active]="iConfig.view === 'chrome'" (click)="iConfig.SelectView('chrome'); iDavis.isSidebarVisible = false">
      <span class="sidebar__headline">Chrome Extension</span>
    </a>
  </nav>
  <div class="island island--connected">
    <config-user *ngIf="iConfig.view === 'user'" [isNewUser]="false" [isMyUser]="true"></config-user>
    <config-users *ngIf="iConfig.view === 'users'"></config-users>
    <config-dynatrace *ngIf="iConfig.view === 'dynatrace'"></config-dynatrace>
    <config-slack *ngIf="iConfig.view === 'slack'"></config-slack>
    <config-chrome *ngIf="iConfig.view === 'chrome'"></config-chrome>
  </div>
</div>