<div class="page">
    <div class="step">
        Step 1 of 5
    </div>
    <div class="title">
        Tell me about yourself?
    </div>
    <div class="content">
        <form (ngSubmit)="doSubmit()" #form="ngForm">
            <section class="flex-container" *ngIf="!passwordsMatch">
                <div class="flex-item full-width error">
                    Password Confirmation must match Password
                </div>
            </section>
            <section class="flex-container">
                <div class="flex-item half-width left-half">
                    <label>First Name</label>
                    <input type="text" name="first" placeholder="John" [(ngModel)]="this.wizardService.values.user.name.first" autofocus required>
                </div>
                 <div class="flex-item half-width right-half">
                    <label>Last Name</label>
                    <input type="text" name="last" placeholder="Smith" [(ngModel)]="this.wizardService.values.user.name.last" required>
                </div>
            </section>
            <section class="flex-container">
                <div class="flex-item full-width">
                    <label>Email</label>
                    <input type="email" name="email" placeholder="john.smith@example.com" [(ngModel)]="this.wizardService.values.user.email" required>
                </div>
            </section>
            <section class="flex-container">
                <div class="flex-item half-width left-half">
                    <label>Password</label>
                    <input type="password" name="password" placeholder="*******" [(ngModel)]="this.wizardService.values.user.password" required>
                </div>
                <div class="flex-item half-width right-half">
                    <label>Timezone</label>
                    <input type="text" name="timezone" placeholder="America/Detroit" [(ngModel)]="this.wizardService.values.user.timezone" required>
                </div>
            </section>
            <section class="flex-container">
                <div class="flex-item next">
                    <button type="submit" class="nextBtn">Continue</button>
                </div>
            </section>
        </form>
    </div>
</div>